# Configuration de la base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=e_garage
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe

# Configuration du serveur
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=votre_jwt_secret_très_long_et_sécurisé
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:3001
